<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="amqmdnet" publicKeyToken="dd3cb1c9aae9ec97" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.8" newVersion="8.0.0.8" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="host" value="localhost" />
    <add key="port" value="1414" />
    <add key="manager" value="TEST.MANAGER" />
    <add key="channel" value="TEST.CH" />
    <add key="queue" value="TEST1" />
  </appSettings>
</configuration>